/* navbar */

#top_nav{
    background-color: #daac00 !important;
    padding: 0 8%;
}

#nav_logo{
    width: 50px;
    height: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
}

#search_box{
    background-color: #fcc302;
    color: white;
    border: 0;
    border-radius: 0;
    position: relative;
    left: 48px;
    box-shadow: 5px 10px 11px 0 #00000021;
}

#search_box::placeholder{
    color: white;

}

#search_btn{
    position: relative;
    z-index: 99;
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;
}

@media only screen and (max-width: 768px){
    #search_form{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;

    }
    
}

@media only screen and (max-width: 500px){
    #top_nav{
        padding: 0;
    }
}

/* banner */

#banner{
    background-color: #fcc302;
    padding-bottom: 20px;
}

#banner_txt h2{
    color: white;
    font-size: 60px;
    margin-top: 100px;
}

#banner_txt p{
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#banner_btn_1{
    background-color: #00bec9;
    border: 2px solid #00bec9;
    color: white;

}

#banner_btn_2{
    color: white;
    border: 2px solid white;
    margin-left: 15px;
}

@media only screen and (max-width: 1300px){
    #banner_txt h2{
        font-size: 54px;
    }
    #banner{
        padding-bottom: 70px;
    }
    
}

@media only screen and (max-width: 500px){
    #banner_txt h2{
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1000px){
    #banner_txt h2{
        font-size: 36px;

    }
}

#banner_img{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 420px;
}

@media only screen and (max-width: 768px){
    #banner_img{
        width: 284px;
        padding-top: 75px;
        padding-bottom: -19px;
    }
}

/* service */

#service_txt{
    padding-top: 10%;
    padding-bottom: 5%;
}

#service_img{
    padding: 5%;
}

#service_btn{
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}

#service_img img{
    width: 250px;
}


/* counter */

#counter_section{
    background-color: #daac00;
    padding-top: 30px;
    padding-bottom: 50px;
}

.counter_icon{
    font-size: 50px;
}


/* blog */


#blog{
    padding-top: 50px;
    padding-bottom: 50px;
}

#blog_title{
    font-size: 50px;
    font-weight: bolder;
}

#blog_p{
    font-size: 20px;
    margin-bottom: 60px;
}

.blog_detail{
    padding: 20px;
    border: 2px solid rgb(185, 185, 185);
    border-top: 0;
}

.blog_link, .blog_date{
    color: #00bec9;
}

.blog_link{
    list-style: none;
    text-decoration: none;
}

@media only screen and (max-width: 500px){
    .blog_detail{
        
        margin-bottom: 40px;
    }

}


/* footer */

#footer{
    background-color: #343434;
    padding-top: 60px;
    padding-bottom: 60px;
}

#footer a{
    color: white;
    list-style: none;
    text-decoration: none;
}

#footer_search_box{
    background-color: #fcc302;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 10px;
    position: relative;
    left: 8px;
    width: 100%;
    max-width: 310px;


}

#footer_search_btn{
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 10px 25px;

}

.footer_icon{
    font-size: 30px;
    margin: 8px;
}

@media only screen and (max-width: 1230px){
    #footer_search_box{
    max-width: 250px;
    }
}

@media only screen and (max-width: 1050px){
    #footer_search_box{
    max-width: 230px;
    }

}

@media only screen and (max-width: 972px){
    #footer_search_box{
        max-width: 160px;
        }
}

@media only screen and (max-width: 767px){
    #footer_search_box{
        max-width: 180px;
        }
    #footer{
        padding-top: 20px;
    }
    #footer h4{
        padding-top: 40px;
    }
}

@media only screen and (max-width: 280px){
    #footer_search_box{
        max-width: 130px;
        }
    #banner_btn_1{
        margin-top: 5px;
        position: relative;
        
    }
    #banner_btn_2{
        margin: 20px;
        position: relative;
        right: 20px;
    }
    #banner_txt h2{
        font-size: 25px;
    }
    #banner{
        padding-bottom: 10px;
    }
    .footer_icon{
        font-size: 20px;
        margin: 5px;
    }

}
